/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* Nav Style */
.navtop {
  background: #FFE6CD;
  padding: 20px 40px;
  color: #8F573B;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.logo {
  font: Bold 30px Garamond;
  letter-spacing: 4.5px;
}
.links {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  font: Bold 16px Helvetica;
}
.links a {
  margin-right: 40px;
  align-self: center;
  letter-spacing: 2px;
  color: #8F573B;
  text-decoration: none;
}
.navBottom {
  background: #FFE6CD;
  display: flex;
  font-family: Helvetica;
  align-items: center;
  margin: 0.5%;
  padding: 3%;
}
.navBottom .linksLeft {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 10%;
  line-height: 25px;
}
.navBottom a {
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  color: #8F573B;
}
.navBottom .logoBottom {
  width: 33%;
  display: flex;
  justify-content: center;
}
.navBottom .logoBottom img {
  max-width: 100%;
}
.navBottom .linksRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 33%;
  margin: 0 10% 0 0;
  line-height: 25px;
}
/*
a:hover {
 animation for the links	
}*/
/*
body .marketing {
    max-width: 100%;
}
.marketingheader {
    display: flex;
    max-width: 100%;
    height: 70vh;
    justify-content: flex-end;
    border: 2px solid red;
    .boxH {
        background: #FFE5CD;
        //text-align: center;
        height: 40%;
        width: 40%; 
        position: absolute;  
        border: 4px solid yellow;  
        z-index: 999; 
        top: 30%;
        right: 53%;
        color:#8F573B;
        h1 {
            font: Bold 40px Marker felt;
            letter-spacing: 3px;
            text-align: center;
            padding: 5px;
        }//h1 end
        p {
            font-size: 20px;
            text-align: center;
            padding: 10px;
    
        }//p end
    }// header box ends
    .headerimg {
        width: 60%;
        
    }// end of header img
}*/
