/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v12/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RkBI96.ttf) format('truetype');
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v9/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Ceg.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v9/iJWKBXyIfDnIV7nBrXk.ttf) format('truetype');
}
html {
  font-size: 62.5%;
  background-color: black ;
}
.pageContainer {
  max-width: 1050px;
  margin: 0 auto;
  background-color: white;
}
/* Nav Style */
.navtop {
  background: #FFE5CD;
  padding: 3%;
  display: flex;
}
@media (max-width: 800px) {
  .navtop {
    flex-direction: column;
    align-items: center;
  }
}
.navtop .logo {
  width: 33%;
}
@media (max-width: 800px) {
  .navtop .logo {
    width: 40%;
    justify-content: center;
    margin: 0 0 15px 0;
  }
}
@media (max-width: 500px) {
  .navtop .logo {
    border-bottom: 18px dotted #985F43;
  }
}
.navtop .links {
  display: flex;
  font: Bold 1.3rem Helvetica;
  justify-content: flex-end;
  width: 70%;
}
.navtop .links a {
  margin-right: 25px;
  align-self: center;
  letter-spacing: 2px;
  color: #985F43;
  text-decoration: none;
}
@media (max-width: 800px) {
  .navtop .links {
    width: 98%;
    margin: 0;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .navtop .links {
    flex-direction: column;
  }
  .navtop .links a {
    border-bottom: 2px solid #985F43;
    margin: 0 auto;
    padding: 3%;
  }
}
/*
a:hover {
 animation for the links	
}*/
.navBottom {
  background: #FFE5CD;
  display: flex;
  font-family: Helvetica;
  align-items: center;
  padding: 3%;
}
.navBottom .linksLeft {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 10%;
  line-height: 22px;
}
.navBottom a {
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  color: #985F43;
}
.navBottom .logoBottom {
  width: 33%;
  display: flex;
  justify-content: center;
}
.navBottom .logoBottom img {
  max-width: 98%;
}
.navBottom .linksRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 33%;
  margin: 0 10% 0 0;
  line-height: 22px;
}
.marketingheader {
  display: flex;
  justify-content: flex-end;
}
.marketingheader .headerimg {
  width: 55%;
  background: transparent;
  z-index: 1;
}
.marketingheader .boxH {
  background: #FFE5CD;
  height: 34%;
  width: 45%;
  margin-right: -10%;
  margin-top: 8%;
  z-index: 2;
}
.marketingheader .boxH h1 {
  color: #985F43;
  font-family: Permanent Marker;
  font-size: 3rem;
  letter-spacing: 4px;
}
.marketingheader .boxH p {
  font-size: 1.8rem;
  color: #985F43;
  font-family: Helvetica;
  text-align: left;
  width: 73%;
  margin: 5% 10%;
  letter-spacing: 2px;
}
.middleC {
  background: #5B7331;
  text-align: center;
  padding: 3%;
}
.middleC h2 {
  font-size: 3rem;
  color: #FFE5CD;
  font-family: Garamond;
  font-weight: Bold;
  letter-spacing: 4.5px;
}
.middleC p {
  font-size: 1.3rem;
  color: #FFE5CD;
  font-family: Helvetica;
  letter-spacing: 1px;
  margin: 2%;
}
.middleC .clickB {
  background: #FFFFFF;
  border: solid 1px #FFE5CD;
  font-size: 1.5rem;
  color: #985F43;
  font-family: Helvetica;
  font-weight: bolder;
  letter-spacing: 2.5px;
  margin-right: 2%;
  width: 20%;
  padding: 0.5%;
}
.middlerow {
  display: flex-column;
}
.middlerow .imgcontainer {
  display: flex;
  height: 50vh;
  z-index: 1;
}
.middlerow .imgcontainer .viewlistimg {
  max-width: 33.4%;
}
.middlerow .imgcontainer .aboutimg {
  max-width: 33.4%;
}
.middlerow .imgcontainer .showoff {
  max-width: 33.3%;
}
.middlerow .textrow {
  display: flex;
  justify-content: space-around;
}
.middlerow .textrow h2 {
  background: #5B7331;
  font-size: 1.5rem;
  color: #FFE5CD;
  font-family: Helvetica;
  letter-spacing: 1.5px;
  font-weight: bolder;
  width: 20%;
  text-align: center;
  padding: 2%;
  z-index: 2;
  margin-top: -23%;
  height: 100%;
}
.lastSection {
  background: #FFFFFF;
  text-align: center;
  padding: 3%;
}
.lastSection h2 {
  font-size: 2.5rem;
  color: #985F43;
  font-family: Garamond;
  font-weight: Bold;
  letter-spacing: 1.5px;
}
.lastSection p {
  font-size: 1.3rem;
  color: #985F43;
  font-family: Helvetica;
  letter-spacing: 1px;
  margin: 2% 13% ;
}
.lastSection .start {
  font-size: 1.5rem;
  color: #985F43;
  font-family: Helvetica;
  background: #FFE5CD;
  font-weight: bolder;
  letter-spacing: 2.5px;
  margin-right: 2%;
  width: 25%;
  padding: 3%;
  position: relative;
  top: 75px;
}
.empty {
  background: #5B7331;
  width: 100%;
  height: 15vh;
  z-index: 1;
}
@media (max-width: 500px) {
  .pageContainer {
    display: flex-column;
    justify-content: center;
  }
  .marketingheader {
    flex-direction: column-reverse;
    text-align: center;
  }
  .marketingheader .boxH {
    width: 100%;
    margin: 0;
  }
  .marketingheader .headerimg {
    width: 100%;
  }
  .middleC .clickB {
    width: 40%;
  }
  .middlerow {
    display: flex;
    flex-direction: column;
  }
  .middlerow .imgcontainer {
    height: fit-content;
    justify-content: space-between;
    margin: 3%;
  }
  .middlerow .imgcontainer .showoff {
    display: none;
  }
  .middlerow .textrow {
    justify-content: space-between;
    margin: 0 10%;
  }
  .middlerow .textrow h2 {
    font-size: 1rem;
  }
  .middlerow .textrow #gone {
    display: none;
  }
  .lastSection .start {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .marketingheader {
    flex-direction: column-reverse;
    text-align: center;
  }
  .marketingheader .boxH {
    width: 100%;
    margin: 0;
  }
  .marketingheader .headerimg {
    width: 100%;
  }
  .middlerow {
    display: flex;
    flex-direction: column;
  }
  .middlerow .imgcontainer {
    height: fit-content;
    justify-content: space-between;
    margin: 3%;
  }
  .middlerow .imgcontainer .showoff {
    display: none;
  }
  .middlerow .textrow {
    justify-content: space-between;
    margin: 0 10%;
  }
  .middlerow .textrow h2 {
    font-size: 1rem;
  }
  .middlerow .textrow #gone {
    display: none;
  }
}
header {
  display: flex;
}
header .topImage {
  width: 900px;
  display: flex;
}
header img {
  width: 125%;
}
header .aboutUs {
  background-color: #5B7331;
  padding: 3%;
  width: 700px;
  height: 225px;
  position: relative;
  top: 100px;
  right: 5%;
}
header .aboutUs h2 {
  font-family: Permanent Marker;
  color: #FFE5CD;
  font-size: 3rem;
  text-align: right;
  padding: 0 0 20px;
}
header .aboutUs p {
  font-family: helvetica;
  color: #FFE5CD;
  font-size: 1.2rem;
  text-align: left;
  line-height: 16px;
  padding: 0 0 20px;
}
.bigDeal {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FFE5CD;
  padding: 6%;
}
.bigDeal H2 {
  font-family: 'EB Garamond', serif;
  font-size: 2rem;
  font-weight: bold;
  color: #985F43;
  letter-spacing: 3px;
}
.bigDeal p {
  font-family: helvetica;
  padding: 20px 2% 0;
  text-align: center;
  font-size: 1.5rem;
  color: #985F43;
}
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.amazingTeam {
  width: 255px;
  height: 55px;
  display: flex;
  justify-content: center;
  background-color: #5B7331;
  align-items: center;
  position: relative;
  top: -30px;
}
.amazingTeam h2 {
  font-family: Helvetica;
  font-weight: bold;
  color: #FFE5CD;
  font-size: 1.6rem;
  letter-spacing: 3px;
}
.teamPics {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 4% 7%;
}
.teamPics .teamMatePic {
  width: 25%;
  display: flex;
  justify-content: center;
  padding: 3% 0;
}
.teamPics img {
  width: 70%;
  border-radius: 50%;
}
.bottomPic {
  display: flex;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1511109434382-7cb4f04780a0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80);
}
.bottomPic .getOut {
  width: 280px;
  height: 55px;
  display: flex;
  justify-content: center;
  margin: 6.5%;
  background-color: rgba(255, 255, 255, 0.7);
  align-items: center;
}
.bottomPic .getOut h2 {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  color: #5B7331;
  font-size: 1.6rem;
  letter-spacing: 2px;
}
@media (max-width: 800px) {
  header .topImage {
    width: 80%;
  }
  .aboutUs {
    display: none;
  }
}
@media (max-width: 500px) {
  header .topImage {
    display: none;
  }
  .bigDeal {
    background-color: #985F43;
  }
  .bigDeal h2 {
    color: #FFE5CD;
  }
  .bigDeal p {
    color: #FFE5CD;
  }
  .amazingTeam {
    position: static;
  }
  .teamPics .teamMatePic {
    width: 50%;
  }
}
