header {
    display: flex;

    .topImage {
        width: 900px;
        display: flex;
    }

    img {
        width: 125%;
    }

    .aboutUs {
        background-color: @main-color3 ;
        padding: 3%;
        width: 700px;
        height: 225px;
        position: relative;
        top: 100px;
        right: 5%;

        h2 {
            .fonts-class(3rem, @main-color1, Permanent Marker);
            text-align: right;
            padding: 0 0 20px;   
        }

        p {
            .fonts-class(1.2rem, @main-color1, helvetica);
            text-align: left;
            line-height: 16px;
            padding: 0 0 20px;
        }
    }
}

// Big Deal

.bigDeal {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: @main-color1;
    padding: 6%;

    H2 {
        .fonts-class(2.0rem, @main-color2, 'EB Garamond');
        font-weight: bold;
        letter-spacing: 3px;
    }

    p {
        .fonts-class(1.5rem, @main-color2, helvetica);
        padding: 20px 2% 0;
        text-align: center;
    }
} 

// Our Amazing team

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.amazingTeam {
    width: 255px;
    height: 55px;
    .flex(center);
    background-color: @main-color3;
    align-items: center;
    position: relative;
    top: -30px;
        
        h2 {
            .fonts-class(1.6rem, @main-color1, helvetica);
            font-weight: bold;
            letter-spacing: 3px;
        }
    }

.teamPics {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 4% 7%;
    
    .teamMatePic {
        width: 25%;
        .flex(center);
        padding: 3% 0;
     }

    img {
        width: 70%;
        border-radius: 50%;   
    }

    
}


// Bottom Picture

.bottomPic {
    .flex(center);
    background-image: url(https://images.unsplash.com/photo-1511109434382-7cb4f04780a0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80);
    .getOut {
        width: 280px;
        height: 55px;
        display: flex;
        justify-content: center;
        margin: 6.5%;
        background-color: rgba(255,255,255, .7);
        align-items: center;
        
        h2 {
            .fonts-class(1.6rem, @main-color3, 'EB Garamond');
            font-weight: bold;
            letter-spacing: 2px;
        }
    }  
              
}

// Media Queries

@media @tablet {
    
    header .topImage {
        width: 80%;
    }
    
    .aboutUs {
        display: none;
    }
    

}

@media @phone {

    header .topImage {
        display: none;
    }

    .bigDeal {
        background-color: @main-color2 ;

        
    }

    .bigDeal h2{
        color: @main-color1;
    }

    .bigDeal p {
        color: @main-color1;
    }


    .amazingTeam {
        
        position: static;
        
    }

    .teamPics .teamMatePic {
        width: 50%;
    }

        
}
    

