

// Our Amazing team

.teamPics {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 0 12%;
    
    .teamMatePic {
        width: 25%;
        display: flex;
        justify-content: center;
        padding: 3% 0;
     }

    img {
        width: 70%;
        border-radius: 50%;   
    }
}


// Bottom Picture

.bottomPic {
    display: flex;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1511109434382-7cb4f04780a0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80);
    .getOut {
        width: 280px;
        height: 50px;
        display: flex;
        justify-content: center;
        margin: 6.5%;
        background-color: rgba(255,255,255, .7);
        align-items: center;
        
        h2 {
            font-family: Garamond;
            font-weight: bold;
            color: #5B7531;
            font-size: 1.6rem;
            opacity: 1;
            letter-spacing: 2px;
        }
    }  
              
}

