//marketing page middle content 
.marketingheader {
    border: 2px solid blue;
    display: flex;
    justify-content: flex-end;
    //height: 80vh;
    .headerimg {
        width: 55%;
        background: transparent;
    }//end of headerimg
    .boxH {
        border: turquoise 2px solid;
        background: #FFE5CD;
        height: 34vh;
        width: 36% ;
        position: absolute;
        z-index: 999;
        top: 25%;
        right: 47%;
        padding: 1%;
        color:#8F573B;
        h1 {
            font-family: Permanent Marker;
            font-size: 3rem;
            letter-spacing: 4px;        
        }// end of h1
        p {
            text-align: left;
            font-size: 1.8rem;
            width: 73%;
            margin: 5% 10%;
        }
    }// end of header box
}//end of Marketing header
/*
        h1 {
            font: Bold 40px Marker felt;
            letter-spacing: 3px;
            text-align: center;
            padding: 5px;
        }//h1 end
        p {
            font-size: 20px;
            text-align: center;
            padding: 10px;
    
        }//p end
    }// header box ends
    .headerimg {
        width: 60%;
        
    }// end of header img
}*/