/* Nav Style */
.navtop {
	background: @main-color1;
	padding: 3%;
	display: flex;
	

	@media @tablet {
		flex-direction: column;
		align-items: center;
	}

	.logo {
		width: 33%;

		@media @tablet {
		
			width: 40%;
			justify-content: center;
			margin: 0 0 15px 0;
		
		}

		@media @phone {
			border-bottom: 18px dotted @main-color2;
		}
	}//end of logo
	.links{
		display: flex;
		font: Bold 1.3rem Helvetica;
		justify-content: flex-end;
		width: 70%;
		a {
			margin-right: 25px;
			align-self: center;
			letter-spacing: 2px;
			color: @main-color2;
			text-decoration: none;

		
		}//end of text a tag
		
		@media @tablet {
			width: 98%;
			margin: 0;
			justify-content: space-between;
		}

		@media @phone {
			flex-direction: column;
            a {
                border-bottom:2px solid @main-color2;
                margin: 0 auto;
                padding: 3%;
            }//end a
		}
		
	}//end of div for links 
      

}


/*
a:hover {
 animation for the links	
}*/

// This is the bottom NAV

.navBottom {
	background: @main-color1;
	display: flex;
	font-family: Helvetica;
	//justify-content: space-between;
	align-items: center;
	
	padding: 3%; 

	.linksLeft {
		width: 33%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0 0 0 10%;
		line-height: 22px;

	}

		a {
			font-size: 1.1rem;
			font-weight: bold;
			text-decoration: none;
			color: @main-color2;
		}

	.logoBottom {
		width: 33%;
		display: flex;
		justify-content: center;

		img {
			max-width: 98%;
		}
		
	}

	.linksRight {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 33%;
		margin: 0 10% 0 0;
		line-height: 22px;
	}

}






