/* Nav Style */
.navtop {
	background: #FFE6CD;
	padding: 20px 40px;
	color: #8F573B;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	//create a variable for the color and a mixing fot color and font-size
	//what font should we use?
}

.logo {
	font: Bold 30px Garamond;
	letter-spacing: 4.5px;

}

.links{
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	font: Bold 16px Helvetica;
}

.links a {
	margin-right: 40px;
	align-self: center;
	letter-spacing: 2px;
	color: #8F573B;
	text-decoration: none;
}

/*
a:hover {
 animation for the links	
}*/

// This is the bottom NAV

.navBottom {
	background: #FFE6CD;
	display: flex;
	font-family: Helvetica;
	//justify-content: space-between;
	align-items: center;
	
	padding: 3%; 

	.linksLeft {
		width: 33%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0 0 0 10%;
		line-height: 22px;

	}

		a {
			font-size: 1.1rem;
			font-weight: bold;
			text-decoration: none;
			color: #8F573B;
		}

	.logoBottom {
		width: 33%;
		display: flex;
		justify-content: center;

		img {
			max-width: 98%;
		}
		
	}

	.linksRight {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 33%;
		margin: 0 10% 0 0;
		line-height: 22px;
	}
}



